$primary-bs-green: #5cb047;
$primary-bs-dark-green: #1f4a21;

$primary-bs-light-green: #bad862;
$primary-bs-sand: #eae5da;
$primary-bs-svart: #0b1f2e;
$primary-bs-moss-green: #96be6e;
$primary-bs-medium-blue: #4c687b;
$primary-bsmedium-blue: #9aafbb;
$primary-bs-dark-blue: #3d4a57;
$primary-green-200: #d2dbd3;
$primary-green-700: #70886b;

$primary-gray-700: #d1d1d1;
$primary-gray-600: #dddddd;
$primary-gray-500: #e8e8e8;
$primary-gray-400: #f3f3f3;
$primary-gray-300: #f9f9f9;
$primary-gray-800: #8c8c8c;
$primary-black: #0b1f2e;
$primary-white: #ffffff;

$system-error: #ff5c5c;
$system-success: #21d184;
$system-link: #3870ff;

$wrap: 1440px;
